define(`acme.te')
define(`checkpolicy.te')
define(`chkpwd.te')
define(`cougaar.te')
define(`crond.te')
define(`crontab.te')
define(`dhcpc.te')
define(`fsadm.te')
define(`getty.te')
define(`groupadd.te')
define(`ifconfig.te')
define(`initrc.te')
define(`init.te')
define(`klogd.te')
define(`ldconfig.te')
define(`load_policy.te')
define(`login.te')
define(`logrotate.te')
define(`modutil.te')
define(`mount.te')
define(`netutils.te')
define(`newrole.te')
define(`passwd.te')
define(`setfiles.te')
define(`seuser.te')
define(`snort.te')
define(`ssh.te')
define(`su.te')
define(`syslogd.te')
define(`tmpreaper.te')
define(`useradd.te')
define(`xauth.te')
define(`kernel.te')
